*{
   margin:0;
   padding:0;
   box-sizing: border-box;

}

.home{
    width:100%;
    min-height: 100vh;
    background-image: url("https://4kwallpapers.com/images/wallpapers/vivo-pad-se-stock-2560x1440-23312.jpg");
    background-size:cover;
    background-position: center;
    
}.navbar{
   width:100%;
   background-color: rgba(0, 0, 0, 0.500);
   padding-left:280px;
}
 
.navbar ul{
   list-style:none;
   margin:0;
   padding:0;
   overflow: hidden;
   
}

.navbar ul li a{
    text-decoration: none;
    float: left;
    display:block;
    font-family: Arial;
    font-size:30px;
    font-weight: 600;
    color:white;
    text-align: center;
    padding:15px 25px;
}
.navbar .active{
    background-color: rgba(0, 0, 0, 0.637);
}

.navbar ul li a:hover:not(.active){

  background-color: rgba(0, 0, 0, 0.500);
  
}

.main{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:40px;
   padding-right:250px;
   gap:30px;

}



.profile-pic img {
    width:200px;
    border-radius: 50%;
}

.intro{
    background-color:rgba(0, 0, 0, 0.500) ;
    border-radius: 5%;
    width:650px;
}
    
.intro h1{
     font-size:40px;
     color:white;
     padding:20px;
}
.intro p{
   font-size:25px;
   color:white;
   padding:15px;
   line-height: 1.8;
}
.about{
     background-color:rgba(0, 0, 0, 0.500) ;
    border-radius: 5%;
    width:900px;
    padding:30px;
    margin:50px;
}
.about h1{

     font-size:40px;
     color:white;
     padding:20px;

}
.about p{
   font-size:25px;
   color:white;
   padding:10px;
   line-height: 1.5;


}

.skills{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:25px;
    gap:25px;
   
     
}

.skill{
  display: flex;
  flex-direction: column;
  background-color:rgba(0, 0, 0, 0.500) ;
  padding:30px;
  width:600px;
  gap: 5px;
  border-radius: 10%;
}



.skill .img img{
    padding-left:50px;
    width: 200px;
    height: 100px;
   
}
.skill .desc{
   color:white;
   font-size: 20px;
   line-height: 1.5;
   padding-left: 50px;
   
}

.info{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 30px;
    width:500px;
    height: 500px;
    margin-left:350px;
    margin-top:35px;
   


}
.social{
    display: flex;
    gap:15px;
    margin:5px;
}

.social .txt a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.555);
    font-size: 30px;
    font-family: Arial;
    font-weight:700;
}


.social .img img{
    width:35px;
}

.txt a:hover{
    color:black;
}


