*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
     width:100%;
     background:linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(16, 9, 49, 0.5)),url("https://wallpapershome.com/images/pages/ico_h/5708.jpg") no-repeat center center/cover;
    background-position: center;
    background-size: cover;
    height :109vh;
}
.navbar{
     width: 1200px;
     height: 75px;
     margin: auto;

}
.icon{
        width: 200px;
        float: left;
        height: 70px;
    

}
.logo{
        color: orangered;
        font-size: 35px;
        font-family:Arial;
        padding-left: 20px;
        padding-top: 10px;
        float:left;
}
.menu{
    width:400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top:27px;
    font-size: 18px;
    font-family: Arial;
}
ul li a{
    text-decoration: none;
    color:white;
    font-family:Arial;
    font-weight:bold;
    transition:0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(240, 127, 22);
}
.search{
    width: 330px;
    float: left;
    margin-left:270px;
}
.srch{
     font-family: Times New Roman;
     width:200px;
     height:40px;
    background:transparent;
    border :1px solid orangered;
    margin-top:13px;
    color:white;
    border-right:none;
    font-size: 16px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}   
.btn{
    width: 100px;
    height: 40px;
    background:orangered;
    border:2px solid orangered;
    margin-top:13px;
    font-size: 15px;
    color:white;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width:1200px;
    height:auto;
    margin:auto;
    color:white;
    position:relative;

}
.content .par{

    padding-left:20px;
    padding-bottom:25px;
    font-family:Arial;
    letter-spacing:1.2px;
    line-height:30px;
}

.content h1{
     font-family:'Times New Roman';
     font-size:50px;
     padding-left:20px;
     margin-top:9%;
     letter-spacing: 2px;

}
.content .cn{
  width:160px;
  height:40px;
  background:orangered;
  border:none;
  margin-bottom:10px;
  margin-left:20px;
  color:white;
  font-size:18px;
  border-radius:10px;
  cursor:pointer;
  transition:0.4s ease;

}

.content .cn a{
    text-decoration: none;
    color:rgb(12, 12, 12);
    transition: 0.3s ease;

}
.cn:hover{
    background-color: rgb(218, 215, 213);
}
.content span{
    color:orangered;
    font-size:60px;
}
.form{
   width:300px;
   height:450px;
   background:linear-gradient(to top,rgba(0, 0, 0, 0.534) 30%,rgba(0, 0, 0, 0.534)70%);
   position:absolute;
   top:150px;
   left:870px;
   border-radius:10px;
   padding:25px;

}

.form h2{
    width:150px;
    font-family:sans-serif;
    text-align:center;
    color:white;
    font-size:22px;
    background-color:orangered;
    border-radius:10px;
    margin: 2px;
    padding:8px;

}

.form input{
     width:230px;
     height: 35px;
     background: transparent;
     border-bottom:1px solid orangered;
     border-top:none;
     border-right:none;
     border-left:none;
      font-size: 15px;
      color:white;
     letter-spacing: 1px;
     margin-top:30px;
     font-family: sans-serif;



}
.form input:focus{
     outline:none;
}

::placeholder{
   color:white;
   font-family: Arial;

}

.form .btn{
    width:240px;
    height:40px;
    background: orangered;
    border:none;
    margin-top:30px;
    font-size:18px;
    border-radius:10px;


}
.form .btn a{
    color:white;
    text-decoration: none;
    font-size:20px;
}
.form .btn:hover{
    background:rgb(211, 131, 100);
}

.form .link{
     font-family:arial;
     font-size:17px;
     padding-top:20px;
     text-align:center;
     color:white;
     
}

.form .link a{
     text-decoration: none;
     color:orangered;
}

.form .link2{
     padding-top:10px;
     padding-bottom: 10px;
     text-align:center;
     color:white;
}

.icon a{
    color:white;
    text-decoration:none; 


}

.icon ion-icon{
    color:white;
    font-size:30px;
    padding-left: 14px;
    padding-top:5px;

}

.icon ion-icon:hover{
    color:orangered;

}